<p-card>
    <ng-template pTemplate="title">
        {{AppContent.DrugSelectionTitle}}
        <button pButton pRipple type="button" class="p-button-outlined float-end" icon="pi pi-plus"
                (click)="showCreateDrugDialog()"></button>
    </ng-template>
    <ng-template pTemplate="subtitle">
        {{AppContent.DrugSelectionSubtitle}}
    </ng-template>
    <ng-template pTemplate="content">
        <p-table #intakeDataTable [value]="intakes" dataKey="id" [rows]="50" [showCurrentPageReport]="true"
                     [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                     currentPageReportTemplate="Zeige {first} bis {last} von {totalRecords} Einträgen"
                     [globalFilterFields]="['drug.name']"
                     styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.DrugName}}
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.PZN}}
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.StartDate}}
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.EndDate}}
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-intake>
                    <tr>
                        <td>
                            {{intake.drug.name}}
                        </td>
                        <td>
                            {{intake.drug.pharmaceuticalCentralNumber}}
                        </td>
                        <td>
                            {{intake.startDate | date: 'dd.MM.yyyy'}}
                        </td>
                        <td>
                            {{intake.endDate | date: 'dd.MM.yyyy'}}
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-plain" (click)="deleteIntake(intake)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">{{AppContent.NoDrugsDocumented}}</td>
                    </tr>
                </ng-template>
            </p-table>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="ui-fluid formgrid grid">
            <div class="field col-6">
                <p-button label="{{AppContent.PreviousPage}}" (click)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
            </div>
            <div class="field col-6">
                <p-button label="{{AppContent.NextPage}}" [style]="{'float': 'right'}" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </div>
    </ng-template>
</p-card>
<br>
<p-card>
    <ng-template pTemplate="title">
        Medikamentenauswahl
    </ng-template>
    <ng-template pTemplate="subtitle">
        Bitte fügen Sie die eingenommenen Medikamente hinzu.
    </ng-template>
    <ng-template pTemplate="content">
        <p-table #drugDataTable [value]="drugs" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true" sortMode="multiple"
                [lazy]="true" (onLazyLoad)="loadDrugs($event)" [totalRecords]="totalRecords"
                currentPageReportTemplate="Zeige {first} bis {last} von {totalRecords} Einträgen"
                styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton pRipple class="p-button-outlined" icon="pi pi-filter-slash" (click)="reset(drugDataTable)" [ngStyle]="{'margin-right':'5px'}"></button>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="type" (input)="applyFilterGlobalDrug($event, 'contains')"
                                   placeholder="{{AppContent.SearchByKeyWord}}"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.DrugName}}
                                <p-sortIcon field="name"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="producer">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.ManufacturerKey}}
                                <p-sortIcon field="producer"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="dosageForm">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.DosageForm}}
                                <p-sortIcon field="dosageForm"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="applicationForm">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.ApplicationForm}}
                                <p-sortIcon field="applicationForm"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="atc">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.ATC}}
                                <p-sortIcon field="atc"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="pharmaceuticalCentralNumber">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.PZN}}
                                <p-sortIcon field="pharmaceuticalCentralNumber"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="packageSize">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.PackingSize}}
                                <p-sortIcon field="packageSize"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="normPackageSize">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.StandardPackageSize}}
                                <p-sortIcon field="normPackageSize"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="isCustom">
                            <div class="flex justify-content-center align-items-center">
                                {{AppContent.FromTrade}}
                                <p-sortIcon field="isCustom"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-drug>
                    <tr *ngIf="drug.pharmaceuticalCentralNumber">
                        <td>
                            {{ !drug.name ? '' : drug.name }}
                        </td>
                        <td>
                            {{ !drug.producer ? '' : drug.producer.key }}
                        </td>
                        <td>
                            {{ !drug.dosageForm ? '' : drug.dosageForm.abbreviation }}
                        </td>
                        <td>
                            {{ !drug.applicationForm ? '' : drug.applicationForm.abbreviation }}
                        </td>
                        <td>
                            {{ !drug.atc ? '' : drug.atc.abbreviation }}
                        </td>
                        <td>
                            {{ drug.pharmaceuticalCentralNumber }}
                        </td>
                        <td>
                            {{ !drug.packageSize ? '' : drug.packageSize }}
                        </td>
                        <td>
                            {{ !drug.normPackageSize ? '' : drug.normPackageSize.name }}
                        </td>
                        <td class="text-center">
                            <i class="pi"
                               [ngClass]="{'true-icon pi-check-circle': !drug.isCustom, 'false-icon pi-times-circle': drug.isCustom}"></i>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text p-button-plain" (click)="addIntakeForDrug(drug)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">{{AppContent.DrugSearchEmptyPlaceHolder}}</td>
                    </tr>
                </ng-template>
            </p-table>
    </ng-template>
</p-card>
<br>