<p-card>
    <ng-template pTemplate="title">
        {{AppContent.EventManagement}}
        <button pButton type="button" class="p-button-outlined float-end" icon="pi pi-plus"
        (click)="showCreateEventDialog()"></button>
    </ng-template>
    <ng-template pTemplate="content">
            <p-table #eventTable [value]="events" dataKey="id" [rows]="50" [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                        currentPageReportTemplate="Zeige {first} bis {last} von {totalRecords} Einträgen"
                        styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                {{AppContent.EventId}}
                            </th>
                            <th>
                                {{AppContent.EventName}}
                            </th>
                            <th>
                                {{AppContent.EventDescription}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-event>
                        <tr *ngIf="event.id">
                            <td>
                                {{ event.id }}
                            </td>
                            <td>
                                {{ !event.name ? '' : event.name }}
                            </td>
                            <td>
                                {{ !event.description ? '' : event.description }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">{{AppContent.EventEmptyPlaceholder}}</td>
                        </tr>
                    </ng-template>
            </p-table>
    </ng-template>
</p-card>