<p-card>
    <ng-template pTemplate="title">
        {{AppContent.ProbandInformationTitle}}
    </ng-template>
    <ng-template pTemplate="subtitle">
        {{AppContent.ProbandInformationSubtitle}}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="ui-fluid formgrid grid">
            
            <div class="field col-6">
                <span class="p-float-label">
                    <input #probandId="ngModel" [style]="{'width':'100%'}" id="probandId" type="text" required pInputText [(ngModel)]="interviewService.probandId" [ngClass]="{'ng-dirty': (probandId.invalid && submitted) || (probandId.dirty && probandId.invalid)}"> 
                    <label for="probandId">{{AppContent.ProbandId}}</label>
                </span>
                <small *ngIf="(probandId.invalid && submitted) || (probandId.dirty && probandId.invalid)" class="p-error">{{AppContent.ProbandId}}{{AppContent.IsRequired}}</small>
            </div>
            
            <div class="field col-6">
                <span class="p-float-label">
                    <input #eventId="ngModel" [style]="{'width':'100%'}" id="eventId" type="text" required pInputText [(ngModel)]="interviewService.eventId" [ngClass]="{'ng-dirty': (eventId.invalid && submitted) || (eventId.dirty && eventId.invalid)}"> 
                    <label for="probandId">{{AppContent.EventId}}</label>
                </span>
                <small *ngIf="(eventId.invalid && submitted) || (eventId.dirty && eventId.invalid)" class="p-error">{{AppContent.EventId}}{{AppContent.IsRequired}}</small>
            </div>
            
            <div class="field col-6">
                <span class="p-float-label">
                    <input #interviewerNumber="ngModel" [style]="{'width':'100%'}" id="interviewerNumber" type="number" required pInputText [(ngModel)]="interviewService.interviewerNumber" [ngClass]="{'ng-dirty': (interviewerNumber.invalid && submitted) || (interviewerNumber.dirty && interviewerNumber.invalid)}"> 
                    <label for="probandId">{{AppContent.InterviewerNumber}}</label>
                </span>
                <small *ngIf="(interviewerNumber.invalid && submitted) || (interviewerNumber.dirty && interviewerNumber.invalid)" class="p-error">{{AppContent.InterviewerNumber}}{{AppContent.IsRequired}}</small>
            </div>
            
            <div class="field col-6">
                <span class="p-float-label">
                    <p-calendar #startDate="ngModel" [style]="{'width':'100%'}" [(ngModel)]="interviewService.startDate" [timeOnly]="true" inputId="timeonly" [required]="true" [ngClass]="{'ng-dirty': (startDate.invalid && submitted) || (startDate.dirty && startDate.invalid)}"></p-calendar>
                    <label for="startDate">{{AppContent.StartTime}}</label>
                </span>
                <small *ngIf="(startDate.invalid && submitted) || (startDate.dirty && startDate.invalid)" class="p-error">{{AppContent.StartTime}}{{AppContent.IsRequired}}</small>
            </div>
            <div class="field-checkbox col-12">
                <input type="checkbox" id="drugsTaken" [(ngModel)]="interviewService.drugsTaken">
                <label for="drugsTaken">{{AppContent.DrugIntakeNotice}}</label>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="{{AppContent.NextPage}}" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>