<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold mr-5" [routerLink]="'/welcome'">
            <img ngSrc="/assets/DZD_Logo.svg" width="150" height="50" class="d-inline-block align-middle" alt="DZD Logo">
            {{AppContent.Title}}
        </a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>