(function (window) {

    window.Env = window.Env || {};

    // Environment variables
    window.Env['PRODUCTION'] = '${PRODUCTION}';
    window.Env['BACKEND_URL'] = '${BACKEND_URL}';
    window.Env['OIDC_AUTH_ISSUER'] = '${OIDC_AUTH_ISSUER}';
    window.Env['OIDC_AUTH_CLIENT_ID'] = '${OIDC_AUTH_CLIENT_ID}';
    window.Env['REQUIRE_HTTPS'] = '${REQUIRE_HTTPS}';



})(this);