/**
 * layout Component
 *
 * layout Mixin for default layout behavior
 *
 * eg:
 *  @include layout(
 *    $width: var(--layout-width--md),
 *    $vertical-padding: var(--layout-height-md),
 *    $vertical-align: "middle", // top, bottom
 *    $bg-image: true,
 *    $bg-image-opacity: 0.9,
 *    $bg-color: #fff
 *  );
 **/
 @mixin layout() {
  & {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    @include layout-container();
    @include layout-background();
  }

  .layout__content {
    @include layout-content();
  }
}

@mixin layout-container() {
  & {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-top: var(--layout-padding-top, var(--layout-padding-y));
    padding-bottom: var(--layout-padding-bottom, var(--layout-padding-y));
  }
}

@mixin layout-content() {
  @include container();
  & {
    max-width: 100%;
    width: var(--layout-width, 100%);
    position: relative;
    top: 0;
    height: 100%;
    z-index: 1;
    padding-left: var(--layout-padding-x, var(--space-4));
    padding-right: var(--layout-padding-x, var(--space-4));
  }

  @include breakpoint(xs) {
    // Add your xs breakpoint styles here if needed
  }

  @include breakpoint(lg) {
    // Add your lg breakpoint styles here if needed
  }
}

@mixin layout-background() {
  & {
    position: relative;
  }

  .layout__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--layout-bg-color);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: var(--layout-bg-image-opacity);
    }
  }
}
